.main-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 20px;
  margin-left: 135px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 4px;
  margin: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.cart-container:hover {
box-shadow: 0 0 5px lightgray;
}

.image-container {
  border-radius: 5px;
  width: 248px;
  height: 248px;
  overflow: hidden;
}

.image-producto {
  width: 248px;
  height: 200px;
  object-fit: cover;
}

.cart-description-container {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px;
}

.titulo-producto {
  font-size: 25px;
  text-align: start;
  color: black;
}

.cart-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-imput {
  width: 50px;
  text-align: center;
}

.card-button {
  border: none;
  font-size: 12px;
  background-color: transparent;
  padding: 2px 8px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 0%);
  color: white;
}

.card-button:hover {
  transition: all 0.35s ease-in-out;
  background-color: hsl(216, 91%, 40%);
}
