* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "ruda-regular";
  list-style: none;
  font-size: clamp(12px, 2vw, 20px);
  color: hsl(221, 56%, 31%);
}

a {
  text-decoration: none;
}

body {
  color: hsl(221, 56%, 31%);
  font-family: "ruda-regular";
  background-color: white;
  padding: 0;
  margin: 0;
}

.titles {
  font-family: "bree";
}